<div class="grid-container devise-form-container">
  <div class="devise-form-container">
    <h1 class="page-title">Sign up</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="cell field">
        <%= f.label :first_name, class: "devise-form-field" %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first-name", class: "devise-form-field" %>
      </div>

      <div class="cell field">
        <%= f.label :last_name, class: "devise-form-field" %><br />
        <%= f.text_field :last_name, autocomplete: "last-name", class: "devise-form-field" %>
      </div>

      <div class="cell field">
        <%= f.label :email, class: "devise-form-field" %><br />
        <%= f.email_field :email, autocomplete: "email", class: "devise-form-field" %>
      </div>

      <div class="cell field">
        <%= f.label :password, class: "devise-form-field" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "devise-form-field" %>
      </div>

      <div class="cell field">
        <%= f.label :password_confirmation, class: "devise-form-field" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "devise-form-field" %>
      </div>

      <div class="cell actions devise-form-field">
        <%= f.submit "Sign up", class: "button devise-button" %>
      </div>
    <% end %>

    <div class="cell devise-form-field">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>