<div class="grid-container devise-form-container">
  <div class="devise-form-container">
    <h1 class="cell page-title">Forgot your password?</h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="cell field">
        <%= f.label :email, class: "devise-form-field" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="cell actions">
        <%= f.submit "Send me reset password instructions", class: "button devise-button" %>
      </div>
    <% end %>

    <div class="cell devise-form-field">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

