<div class="grid-container devise-form-container">
  <div class="devise-form-container">
    <h1 class="cell page-title">Log in</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="cell field">
        <%= f.label :email, class: "devise-form-field" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "devise-form-field" %>
      </div>

      <div class="cell field">
        <%= f.label :password, class: "devise-form-field" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "devise-form-field" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="cell field">
          <%= f.check_box :remember_me, class: "devise-checkbox" %>
          <%= f.label :remember_me, class: "devise-form-field" %>
        </div>
      <% end %>

      <div class="cell actions devise-form-field">
        <%= f.submit "Log in", class: "button devise-button" %>
      </div>
    <% end %>

    <div class="cell devise-form-field">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
